<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Asignaturas</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-card class="asignatura-item" *ngIf="asignaturas?.length == 0">
    <ion-card-content>
      <p class="item-text">
        <ion-icon name="information-circle"></ion-icon>&nbsp;
        No tienes asignaturas inscritas.
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card *ngFor="let item of asignaturas" class="asignatura-item">
    <ion-item>
      <h2 class="asignatura-titulo" text-wrap>{{ item?.nombre }}</h2>
      <p class="asignatura-texto" text-wrap>{{ item?.codigo }}, {{ item?.academico }}</p>
    </ion-item>
  </ion-card>
  <p class="text-app" text-justify>Para más información, puedes ingresar al Portal Académico.</p>
  <button ion-button block (click)="portalAcademico()" class="btn-app">
    <ion-icon name="contact"></ion-icon>&nbsp;
    Portal Académico
  </button>
</ion-content>